.wrapper {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
}
.wrapper .word {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  font-size: 6vw;
  width: 100%;
  margin: 0;
}
@media (max-width: 769px) {
  .wrapper .word {
    font-size: 9vw;
  }
}
