.leftBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 70px;
  background-color: #1a202b;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 103;
}
.leftBar .aboutMe {
  writing-mode: tb;
  color: white;
  font-weight: 800;
  font-size: 18px;
  margin-top: 60px;
}
.leftBar img {
  width: 40px;
  margin-top: 20px;
}
.leftBar p {
  writing-mode: tb;
  padding-bottom: 20px;
  color: #4f5765;
  pointer-events: none;
}
.leftBar span {
  display: inline-block;
  transform: rotate(90deg);
}
@media (max-width: 769px) {
  .leftBar {
    background-color: unset;
  }
  .leftBar img {
    background-color: #1a202b;
    padding: 12px;
    border-radius: 50%;
    min-height: 40px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .leftBar .aboutMe,
  .leftBar p {
    display: none;
  }
}
