.plane {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.plane img {
  pointer-events: none;
  -webkit-animation: float 6s ease-in-out infinite;
  animation: float 6s ease-in-out infinite;
  transition: all linear(0 -12.03%, 1.24 -14.04%) 0.5s;
}
@media (max-width: 770px) {
  .plane img {
    width: 240px;
  }
}
.plane img.scrolled {
  width: 260px;
}

@keyframes float {
  0% {
    -webkit-transform: translatey(-10px);
    transform: translatey(-10px);
  }
  50% {
    -webkit-transform: translatey(15px);
    transform: translatey(15px);
  }
  100% {
    -webkit-transform: translatey(-10px);
    transform: translatey(-10px);
  }
}
