.letsTalk {
  background: url(../../images/bubble1.png) bottom left no-repeat,
    url(../../images/bubble3.png) top right no-repeat;
  background-size: 20%, 16%;
}
@media (max-width: 769px) {
  .letsTalk {
    background: url(../../images/bubble1.png) bottom left no-repeat,
      url(../../images/bubble3.png) 110% 0% no-repeat;
    background-size: 18vh;
  }
}
.letsTalk .container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
.letsTalk .container .liquid_shape {
  background-color: #273040;
  width: 600px;
  height: 600px;
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.2), 0 0 90px rgba(0, 0, 0, 0.8);
  border-radius: 59% 48% 39% 45% / 48% 60% 43% 46%;
  animation: liquid 5s ease-in-out infinite;
}
@media (max-width: 650px) {
  .letsTalk .container .liquid_shape {
    display: none;
  }
}
.letsTalk .container .mini-liquid_shape {
  background-color: #00e5ea;
  width: 250px;
  height: 250px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 59% 48% 39% 45% / 48% 60% 43% 46%;
  animation: liquid 5s ease-in-out infinite;
}
.letsTalk .container .mini-liquid_shape img {
  width: 400px;
}
.letsTalk .talk {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
}
.letsTalk .talk .word {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  font-size: 7vw;
  width: 100%;
  margin: 0;
}
@media (max-width: 769px) {
  .letsTalk .talk .word {
    font-size: 6vw;
  }
}
.letsTalk .talk .word a {
  color: #00e7ea;
}

@keyframes liquid {
  0% {
    border-radius: 59% 48% 39% 45% / 48% 60% 43% 46%;
    background-size: 100% 100%;
  }
  50% {
    border-radius: 39% 59% 45% 48% / 50% 48% 60% 50%;
    background-size: 300% 150%;
  }
  100% {
    border-radius: 59% 48% 39% 45% / 48% 60% 43% 46%;
    background-size: 100% 100%;
  }
}
/*  Systems Engineer
    Software Engineer */
